.cart-preview_container {
    background-color: white;
    width: 30vw;
    height: 30vh;
    overflow: scroll;
}

.cart-preview_wrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}


.empty-cart-message {
    color: #666; /* Delikatny szary kolor */
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;   /* Resetujemy domyślne marginesy paragrafu */
    text-align: center;
}
