.navbar-container {
    padding: 1rem 2rem;
    background: rgb(231, 240, 220);
    width: 100%;
    box-sizing: border-box;
}

.circle {
    background: rgb(89, 116, 69);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    flex-shrink: 0;

    @media (max-width: 600px) {
        .navbar-container {
            padding: 0.5rem 1 rem;
        }

        .circle {
            display: none;
        }
    }
}